# Supabase configuration
# Get these values from your Supabase project dashboard:
# https://supabase.com/dashboard/project/wdafggpiyqahkktrmtem/settings/api

EXPO_PUBLIC_SUPABASE_URL=https://wdafggpiyqahkktrmtem.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_secret_eOpj5G4ymRjSkKNZnmf2wg_meYpGh8J
